extends views/layout/default

block variables
  - var pageLang = ''
  - var pageTitle = 'Гостиничный комплекс Эдельвейс'
  - var bodyClass = 'index'

block content
  #fullpage
    .section(style="background-color: tomato;")
      .slide(style="background-color: blue;")
      .slide(style="background-color: green;")
      .slide(style="background-color: yellow;")
